
@{
    string step = "step01";
    string message = "";
    string userValid = "";
    string dataType = "";
    string dataValid = "";
    string question = "";
    string answer = "";
    string password = "";
    try
    {
        step = TempData["step"].ToString();
        message = TempData["message"].ToString();
        userValid = TempData["userValid"].ToString();
        dataType = TempData["typeData"].ToString();
        dataValid = TempData["dataValid"].ToString();
        question = TempData["question"].ToString();
        answer = TempData["answer"].ToString();
        password = TempData["password"].ToString();
    }
    catch { }
}

<style>
    #divForgotMain {
        width: 70%;
        margin-left: 10%;
    }
</style>

<div id="divForgotMain">
    <div id="divForgotTitle">
        <h1>Forgot Password</h1>
        <hr />
    </div>
    <div id="divForgotStep01">
        @{
            if (step == "step01")
            {
                <form asp-controller="Home" asp-action="ForgotPasswordStep01">
                    <label>Type your user</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" id="user" name="user" placeholder="User" maxlength="15" value="@userValid" required autofocus>
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">Send</button>
                        </div>
                    </div>
                </form>
            }
        }
    </div>
    @{
        if (step == "step02")
        {
            <label>Your user</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control" readonly value="@userValid">
            </div>
            <div id="divForgotStep02">
                <hr />
                <form asp-controller="Home" asp-action="ForgotPasswordStep02">
                    <input type="hidden" id="user" name="user" value="@userValid" />
                    <input type="hidden" id="dataType" name="dataType" value="@dataType" />
                    <label>Enter with:</label>
                    <div class="input-group">
                        <span class="input-group-addon">@dataType</span>
                        <input type="text" class="form-control" id="validData" name="validData" maxlength="50" placeholder="Valid data" required autofocus>
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        }
        else if (step == "step03")
        {
            <label>Your user</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control" readonly value="@userValid">
            </div>
            <hr />
            <label>Your data is valid</label>
            <div class="input-group">
                <span class="input-group-addon">@dataType</span>
                <input type="text" class="form-control" id="validDate" name="validDate" readonly value="@dataValid">
            </div>
            <div id="divForgotStep03">
                <hr />
                <form asp-controller="Home" asp-action="ForgotPasswordStep03">
                    <input type="hidden" id="user" name="user" value="@userValid" />
                    <p><b><i>@question</i></b></p>
                    <div class="input-group">
                        <span class="input-group-addon">Answer</span>
                        <input type="text" class="form-control" id="answer" name="answer" maxlength="100" required autofocus>
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        }
        else if (step == "showPassword")
        {
            <div id="divshowPassword">
                <form asp-controller="User" asp-action="Login">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="user" type="text" class="form-control" name="user" readonly value="@userValid">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="text" class="form-control" id="password" name="password" readonly value="@password">
                    </div>
                    <button class="btn btn-default" type="submit">Click here to login</button>
                </form>
            </div>
        }
    }
    @{
        <hr />
        if (message != "")
        {
            switch (message)
            {
                case "errorUser":
                    message = "User doesn't exists!";
                    break;
                case "noHaveQuestion":
                    message = "User doesn't have question!";
                    break;
                case "errorData":
                    message = "Your data is wrong!";
                    break;
                case "errorAnwser":
                    message = "Your anwser is wrong!";
                    break;
            }
            <span class="alert alert-danger"><b>Error!</b> @message</span>
        }
    }
</div>